<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dot_TEXT_game.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <dot_TEXT_game.My.MySettings>
            <setting name="player_health" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="gametime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="notes" serializeAs="String">
                <value />
            </setting>
            <setting name="currentimage" serializeAs="String">
                <value />
            </setting>
            <setting name="swordequip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="level4unlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="level6key" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enemylevel" serializeAs="String">
                <value />
            </setting>
            <setting name="enemyhealth" serializeAs="String">
                <value>0</value>
            </setting>
        </dot_TEXT_game.My.MySettings>
    </userSettings>
</configuration>